<h2 class="display-6">
  <b>Long Form 2 - Custom Validation Behaviour</b>
</h2>

<form
  [formGroup]="form"
  (ngSubmit)="onSubmit(form)"
  class="mt-5 border border-5 pt-3 pb-3 container needs-validation"
  [ngClass]="{
    'border-danger': form.touched && !form.valid,
    'border-success': form.touched && form.valid
  }"
  novalidate
>
  <div class="text-secondary">
    <b>Form Status:</b>
    <span
      [ngClass]="{
        'text-danger': form.touched && !form.valid,
        'text-success': form.touched && form.valid
      }"
    >
      <!-- All value and validation statuses are updated when the form is created -->
      {{ form.status }}
    </span>

    {{ form.touched ? 'touched' : 'untouched' }}
    {{ form.dirty ? 'dirty' : 'pristine' }}
    <button
      type="button"
      (click)="onMarkAllAsTouched(form)"
      class="btn btn-primary"
    >
      Mark All Touched
    </button>
    <br />
    <b>Form Value: </b>
    <!-- The following causes ExpressionChangedAfterItHasBeenCheckedError since child component modifies parent's state with setControl -->
    <!-- {{ form.value | json }} -->
    <br /><b>Form Errors: </b>
    <!-- Note that even though a form group aggregates validity status of all child AbstractControls, it does not aggregate their errors. It only shows errors defined at its own form group level -->
    {{ form.errors | json }}
  </div>

  <!-- <app-text-field-cva formControlName="testInput"></app-text-field-cva> -->

  <ng-container formArrayName="issues">
    <ng-container *ngFor="let issueForm of issues.controls; let i = index">
      <form
        class="mt-3 border border-3 pt-3 pb-3 container"
        [formGroup]="issueForm"
        (ngSubmit)="onSubmit(issueForm)"
        [ngClass]="{
          'border-danger': issueForm.touched && !issueForm.valid,
          'border-success': issueForm.touched && issueForm.valid
        }"
      >
        <!-- Note the border formatting is based on the form validity which is independent of the Eligibility when isEligibilityChecked = false -->
        <!-- You need both form green border and eligible badge to show that form is both valid and eligible. -->
        <header class="row">
          <h3 style="height: 47px" class="display-6">
            Issue {{ i + 1 }}
            <!-- @if (issueForm.pending) {
              <div class="ms-3 spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            } @else if (shouldShowAsEligible(issueForm)) {
              <span class="badge bg-success ms-3">Eligible</span>
            } @else if (shouldShowAsIneligible(issueForm)) {
              <span class="badge bg-danger ms-3">Ineligible</span>
            } -->
          </h3>
          <div class="text-secondary">
            <b>Status:</b>
            <span
              [ngClass]="{
                'text-danger': issueForm.touched && !issueForm.valid,
                'text-success': issueForm.touched && issueForm.valid
              }"
            >
              <!-- All value and validation statuses are updated when the issueForm is created -->
              {{ issueForm.status }}
            </span>
            {{ issueForm.touched ? 'touched' : 'untouched' }}
            {{ issueForm.dirty ? 'dirty' : 'pristine' }}
            <button
              type="button"
              (click)="onMarkAllAsTouched(issueForm)"
              class="btn btn-primary"
            >
              Mark All Touched
            </button>
            <br />
            <b>Value: </b>
            <!-- The following causes ExpressionChangedAfterItHasBeenCheckedError since child component modifies parent's state with setControl -->
            <!-- {{ issueForm.value | json }} -->
            <br><b>Eligibility Validator Errors:</b> 
            <br>{{ issueForm.get('eligibilityValidators')?.errors | json }}
          </div>
        </header>

        <section formGroupName="eligibility" class="row mt-3">
          <h4 style="height: 30px">
            Eligibility Questions
            @if (issueForm.pending) {
              <div class="ms-3 spinner-border spinner-border-sm text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            } @else if (shouldShowAsEligible(issueForm)) {
              <span class="badge bg-success ms-3">Eligible</span>
            } @else if (shouldShowAsIneligible(issueForm)) {
              <span class="badge bg-danger ms-3">Ineligible</span>
            }
          </h4>
          <!-- <div class="col text-secondary mb-3">
            <b>Eligibility Validator Errors:</b> 
            <br />{{ issueForm.get('eligibilityValidators')?.errors | json }}
          </div> -->
          <app-text-field-cva formControlName="issueType"></app-text-field-cva>
          
          <div class="col mb-3">
            <label class="fw-bold">Is Eligible?</label>
            <select formControlName="isEligible" class="form-select"
              [ngClass]="{
                'is-invalid': issueForm.get('eligibility.isEligible') && 
                              (issueForm.get('eligibility.isEligible')!.touched || issueForm.get('eligibility.isEligible')!.dirty) && 
                              !issueForm.get('eligibility.isEligible')!.valid,
                'is-valid': issueForm.get('eligibility.isEligible') && 
                            (issueForm.get('eligibility.isEligible')!.touched || issueForm.get('eligibility.isEligible')!.dirty) && 
                            issueForm.get('eligibility.isEligible')!.valid,
              }"
            >
              <option disabled [ngValue]="null">Select an Option...</option>
              <option [ngValue]="true">Yes</option>
              <option [ngValue]="false">No</option>
            </select>
            <div
              class="text-danger"
              [ngClass]="
                issueForm.get('eligibility.isEligible') && 
                issueForm.get('eligibility.isEligible')!.touched && 
                !issueForm.get('eligibility.isEligible')!.valid 
                  ? 'visible' 
                  : 'invisible'
              "
            >
              This field is required!
            </div>
          </div>
          
          <div class="text-danger">
            @if (
              shouldShowAsIneligible(issueForm) &&
              issueForm.get('eligibilityValidators')?.hasError('requiredFields')
            ) {
              <span>{{ issueForm.get('eligibilityValidators')?.getError('requiredFields') }}</span>
            } 
            @else if (
              shouldShowAsIneligible(issueForm) &&
              issueForm.get('eligibilityValidators')?.hasError('issueEligibility')
            ) {
              <span>
                {{issueForm.get('eligibilityValidators')?.getError('issueEligibility')}}
              </span>
            } 
            @else {
              <span class="invisible">placeholder</span>
            }
          </div>

          <div>
            <button
              type="button"
              style="width: 136px"
              class="btn btn-primary mt-3"
              (click)="onCheckEligibility(issueForm)"
            >
              @if (issueForm.pending) {
                <div
                  class="spinner-border spinner-border-sm text-light"
                  role="status"
                >
                  <span class="visually-hidden">Loading...</span>
                </div>
              } 
              @else { 
                <span>Check Eligibility</span> 
              }
            </button>
          </div>
          <!-- <div
            [ngClass]="
              issueForm.touched && !issueForm.valid ? 'visible' : 'invisible'
            "
            class="text-danger"
          >
            @if ( issueForm.hasError('issueType') ) {
            {{ issueForm.getError('issueType') }}
            } @else if ( issueForm.hasError('issueEligibility') ) {
            {{ issueForm.getError('issueEligibility') }}
            } @else {
            <span class="invisible">placeholder</span>
            }
          </div> -->
        </section>

        <!-- @if (issueForm.get('shouldShowProfileForm')?.value) {
          <section class="row mt-3">
            <h4>Additional Information</h4>
            <app-profile controlKey="profile"></app-profile>
          </section>
        } -->
        <section class="row mt-3"
          [ngClass]="{ 'd-none': !issueForm.get('shouldShowProfileForm')?.value }"
        >
          <h4>Additional Information</h4>
          <app-profile controlKey="profile"></app-profile>
        </section>
      </form>
    </ng-container>
  </ng-container>

  <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-light mt-3" (click)="addIssue()">
      Add Issue
    </button>
    <button type="submit" style="width: 90px" class="btn btn-primary mt-3">
      @if (form.pending) {
      <div class="spinner-border spinner-border-sm text-light" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      } @else { Continue }
    </button>
  </div>
</form>

<section class="mt-5 container">
  <h3>Notes</h3>
  <p>
    In long-form-1, all validations (frontend and backend) are triggered together onblur of any input. 
    This means all validity states are updated onblur of any input.
    In this version, the backend validation (eligibility check) of each Issue sub form is separated out into a manual button click,
    instead of triggering onBlur together with the frontend validation on the input (as seen in long-form-1).
    <br>
    The business wants the UI to display different validation substates: One for issue eligibility (eligibility badge)
    and one for overall form validity (how would this be displayed in the UI). However, it would be confusing to show
    that the form is eligible while also invalid. So the suggested approach for handling this is either:
  </p>
  <ul>
    <li>
      <b>UX Option 1:</b> Make it clear that eligibility only applies to the eligibility questions, and there's a different UI
      state for overall form validity such as a green border.
    </li>
    <li>
      <b>UX Option 2:</b> To only show issue eligibility based on overall form validity - only updated on Check Eligibility click and Done click, 
      need extra state variable to track hiding of the form validity when it's out-of-date (out of sync with inputs).
      Although UX wants to show the feedback once the eligibility questions have been filled in which would be hard 
      because the overall form would be invalid based on the required additional info questions.
    </li>
  </ul>
  <p>
    <b>Note:</b> Frontend validation refers to form validation such as "required" validation which happens synchronously.
    Backend validation refers to business rules validation such as validating the Eligibility of the issue on the backend
    according to domain rules, which happens asynchronously.
    <br>
    <b>Note:</b> <s>For our business/UX requirements, backend validation can only be triggered if frontend validation is updated and passing to avoid unnecessary calls.</s>
    Backend validation can only be passing if frontend validation is also passing.
  </p>
  <p>
    <b>Validation States (and Mapped Views)</b>:
  </p>
  <ol>
    <li>
      <b>Initial State:</b> Untouched Empty Form Initial State (Clean Form)
    </li>
    <li>
      Frontend validation UPDATED and FAILING, backend validation NOT UPDATED, validation result is irrelevant (Form with Red Input)
    </li>
    <li>
      Frontend validation UPDATED and PASSING, backend validation NOT UPDATED, validation result is irrelevant (Form with Green Input)
    </li>
    <li>
      Frontend validation UPDATED and FAILING, backend validation UPDATED and FAILING (Form with Red Input and Ineligible Badge)
    </li>
    <li>
      Frontend validation UPDATED and PASSING, backend validation UPDATED and FAILING (Form with Green Input and Ineligible Badge)
    </li>
    <li>
      Frontend validation UPDATED and PASSING, backend validation UPDATED and PASSING (Form with Green input and Eligible Badge)
    </li>
  </ol>
  <p>
    We can implement the above state variables in code (Angular Reactive Forms API) as follows:
  </p>
  <ul>
    <li>
      Frontend validation NOT UPDATED/UPDATED -> <b>Parent Issue Form Touched</b> = false/true (will always be true after the first onblur event since it form validation updates automatically on blur of any input)
    </li>
    <li>
      Frontend validation FAILING/PASSING -> <b>Parent Issue Form Valid</b> = false/true
    </li>
    <li>
      Backend validation NOT UPDATED/UPDATED -> <b>Eligibility Checked Flag</b> = false/true (initial value is true since Form will trigger all validators on load, changes to false whenver any form value changes onBlur, changes back to true whenver Check Eligibility button is clicked)
    </li>
    <li>
      Backend validation FAILING/PASSING -> <b>Validator Control Valid</b> = false/true
    </li>
  </ul>
  <p>
    <b>Validation States Transitions (and the triggering Events/Actions mapped on each State)</b> - convert this into a State Chart diagram:
  </p>
  <ol>
    <li>#1 -- Input Blur --> #2</li>
    <li>#1 -- Input Change with Input Blur --> #3</li>
    <li> 
      <s>#1 -- Button Click --> #2 (backend validation does not update here since frontend validation will fail)</s> 
      <br>
      1. We can remove this redundant state transition to simplify the UX by disabling this action in state #1.
      <br>
      2. Or we can add a new state: Frontend validation UPDATED and FAILING, backend validation UPDATED and FAILING (Form with Red Input and Ineligible Badge).
      <br>
      <b>Conclusion:</b> We should add a new state (#4) since the former option requires adding yet another state variable to track.
    </li>
    <li>#1 -- Button Click --> #4</li>
    <li>#2 -- Input Change with Input Blur --> #3 (and vice versa)</li>
    <li>#2 -- Button Click --> #4</li>
    <li>#3 -- Input Change with Input Blur --> #2 (and vice versa)</li>
    <li>#3 -- Button Click --> #5 or #6</li>
    <li>#4 has all the same transitions as #2</li>
    <li>#5 -- Input Change with Input Blur --> #2 or #3</li>
    <li>#6 -- Input Change with Input Blur --> #2 or #3</li>
  </ol>
  <!-- <ol>
    <li>
      <b>Clean Form (Initial State)</b>: UI state starts out with an empty form with no status.
    </li>
    <li>
      <b>Initial State -> Input Changed:</b>
      When input is changed (and blurred), frontend validation is triggered and the input displays Valid status.
    </li>
    <li>
      <b>Input Changed -> Check Eligibility Clicked:</b>
      When Check Eligibility button is clicked, backend validation is triggered and form displays Eligibility status.
      <br>
      <b>Initial State -> Check Eligibility Clicked:</b>
      If done from the initial state, this also triggers the frontend validation and displays valid status on the input if not already done.
    </li>
    <li>
      <b>Check Eligibility Clicked -> Input Changed:</b>
      Then, if the input is changed again after Check Eligibility button is clicked, ...
    </li>
  </ol> -->
</section>
