<div class="mb-3">
  <label class="fw-bold">{{ label }}</label>
  <input
    type="text"
    [value]="value"
    (input)="onChange($any($event.target).value)"
    (blur)="onTouched(); blur.emit()"
    [disabled]="disabled"
    class="form-control"
    [ngClass]="{
      'is-invalid': control && control.touched && !control.valid && !disabled,
      'is-valid': control && control.touched && control.valid && !disabled
    }"
  />
  <div
    class="text-danger"
    [ngClass]="
      control && control.touched && !control.valid && !disabled ? 'visible' : 'invisible'
    "
  >
    This field is required!
  </div>
</div>
