button {
  border-color: transparent;
  padding: 8px;
  border-radius: 4px;
  margin: 4px;
  transition: linear 0.2s;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
  background-color: lightblue;
}

.selected {
  background-color: lightblue;
}
