<div class="text-secondary">
  <b>Subform Status:</b>
  <span
    [ngClass]="{
      'text-danger': form.touched && !form.valid && !form.disabled,
      'text-success': form.touched && form.valid && !form.disabled
    }"
  >
    {{ form.status }}
  </span>
  <!-- @if (!form.valid) {{{ form.errors | json }}} -->
  {{ form.touched ? 'touched' : 'untouched' }}
  {{ form.dirty ? 'dirty' : 'pristine' }}
  <button
    type="button"
    (click)="form.markAllAsTouched()"
    class="btn btn-primary"
  >
    Mark All Touched
  </button>
  <!-- <button type="button" (click)="onUpdateValue()" class="btn btn-primary">
    Update Value and Validity
  </button> -->
  <br />
  <b>Subform Value:</b> {{ form.value | json }}
  <br /><b>Subform Errors: </b>
  <!-- Note that even though a form group aggregates validity status of all child AbstractControls, it does not aggregate their errors. It only shows errors defined at its own form group level -->
  {{ form.errors | json }}
</div>

<!-- Why not just use formGroup so that this component can be tested in isolation without requiring a parent form -->
<!-- I think the whole point of having this kind of component is only for situations when the formGroup is instantiated
in the parent component (instead of the child) like a basic form with nested form groups would be -->
<!-- But there are complex situations where the child has to instantiate the form controls dynamically... -->
<!-- Either way, it seems odd to instantiate the child form group twice (once during parent formGroup initialization and another for child formGroup initialization) -->
<div [formGroupName]="controlKey">
  <div class="row mt-3">
    <div class="col">
      <app-text-field-cva formControlName="first"> </app-text-field-cva>
    </div>
    <div class="col">
      <app-text-field-cva formControlName="last"> </app-text-field-cva>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label class="fw-bold">Gender</label>
      <select formControlName="gender" class="form-select"
        [ngClass]="{
          'is-invalid': genderControl && 
                        (genderControl.touched || genderControl.dirty) && 
                        !genderControl.valid && !genderControl.disabled,
          'is-valid': genderControl && 
                      (genderControl.touched || genderControl.dirty) && 
                      genderControl.valid && !genderControl.disabled,
        }"
      >
        <option disabled value="">Select a gender...</option>
        <option *ngFor="let option of genderOptions" [value]="option">
          {{ option }}
        </option>
      </select>
      <div
        class="text-danger"
        [ngClass]="
          genderControl && 
          genderControl.touched && 
          !genderControl.valid &&
          !genderControl.disabled
            ? 'visible' 
            : 'invisible'
        "
      >
        This field is required!
      </div>
    </div>
  </div>
  <ng-container *ngIf="form.value?.gender === 'Other'">
    <div class="row">
      <div class="col">
        <app-text-field-cva formControlName="genderOther"> </app-text-field-cva>
      </div>
    </div>
  </ng-container>
</div>
